.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centeritem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centertext {
    text-align: center;
}


body {

    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
    text-align: center;
    text-decoration: none;
    color: white;

}

#nav ul li {
    list-style-type: none;
}

#nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    font-size: x-large;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.imagefigure {
    display: inline-block;
}

.imagefigure img {
    width: 300px;
}

div {
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}