*,
*::before,
*::after,
{
box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}



.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centeritem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centertext {
    text-align: center;
}



body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../../projects/img/church/church1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position-y: -40px;

}

p {
    color: white;
    background-color: rgb(5, 61, 5);
    width: 10%;
    margin: auto;
    border-radius: 90px;
    font-weight: 800;
    border: 2px solid black;
}

h1 {
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;

    font-family: 'Great Vibes';
    font-size: 3em;
    margin-bottom: 0;
    text-shadow: 4px 4px 10px black, -4px -4px 10px gray;
}

#banner {
    width: 200px;
    margin: 10px auto 20px auto;
}

header {
    border: 2px solid white;
    position: relative;
    top: 0px;
    position: fixed;
    justify-content: center;
    width: 100vw;
    margin-top: 0;
}

#nav ul li {
    list-style-type: none;
}

#nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    font-size: x-large;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.imagefigure {
    flex: 1 1 300px;
}

.imagefigure img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

div {
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 10px solid transparent;
    margin: 0 auto;
    gap: 35px;
}

section {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    top: 230px;
    border: 2px solid white;
}