.center {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
    background: linear-gradient(rgb(5, 73, 5), black, rgb(5, 73, 5));
    color: white;
}

h1 {
    text-align: center;
}

#nav ul li {
    list-style-type: none;
}

#nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: black;
}

nav a:hover {
    font-size: x-large;
}